* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.front {
  width: 50%;
  margin: 0 auto;
}
.front__header {
  margin: 5rem auto;
  width: 100%;
  text-align: center;
}
.front__header--typo {
  margin: 4rem auto;
}
.front__header--typo__heading {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}
.front__header--typo__sub-heading {
  font-size: 1.4rem;
  margin: 1rem auto;
}
.logo {
  width: 50%;
}
.gif {
  width: 100%;
}
