* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(0, 0, 0, 0.781);
}
.front {
  width: 90%;
  margin: 0 auto;
}
.front__header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  height: 80vh;
  width: 100%;
  
}
.front__header--images {
  display: flex;
  
  align-items: center;
  margin: -1.5rem 0rem;
}
.front__header-first {
  flex: 1;
}
.first__header-second {
  flex: 1;
}
.front__header--typo {

  margin: 15rem 0rem ;
  
  padding: 2.5rem;
}
.front__header--typo__heading {
  font-size: 5rem;
  font-weight: 700;
}
.gradient-text {
  display: inline-block;
  font-weight: 700;
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ff8a56 77%,
    #ffa84b 91%
  );
  -webkit-background-clip: text;
  color: transparent;
}
.front__header--second {
  width: 50%;
}
.front__header--typo__sub-heading {
  font-size: 2.5rem;
  margin: 1rem auto;
  color: #f7f7f7;
}
.logo {
  width: 70%;
  border-radius: 50%;
}
.gif {
  width: 40%;
  border-radius: 3px;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.37);
}
.front__mint-token {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35em;
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  height: 80%;
  
}
.front__mint-token--typo {
  font-size: 3rem;
  color: #f7f7f7;
  margin: 6rem auto 5.5rem auto;
}
.front__mint-token__btn {
  margin: 2rem auto;
  display: flex;
}
.mint-btn {
  padding: 1rem 4rem;
  font-size: 1rem;
  font-size: 1.5rem;
  border-radius: 50rem;
  cursor: pointer;
  margin: 0 auto;
  background-image: linear-gradient(-45deg, #338aff, #3cf0c5);
  color: white;
  box-shadow: 0.2rem 0.2rem 1.2rem #338bff83;
  font-weight: 700;
  transition: all 0.2s;
}
.mint-btn:hover {
  box-shadow: 0.3rem 0.3rem 1.5rem #338bff83;
  transform: translateY(-2px);
}
.mint-btn:active {
  box-shadow: 0.3rem 0.3rem 1rem #338bff83;
  transform: translateY(0px);
}
.front__about {
  margin-top: 7rem;
  height: 100vh;
  padding: 2.5px;
}
.front__about--container {
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  
}

.front__about--container__left {
  flex: 1;
  padding-right: 1rem;
}
.front__about--container__left--heading {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 700;
  color: #f7f7f7;
}
.front__about--container__left--para {
  font-size: 2rem;
  color: #f1f1f1;
}
.front__about--container__right {
  flex: 1;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.front__about--container__right div {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: space-evenly;
}
.about-img {
  width: 45%;
  border-radius: 3px;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.37);
}
.front__info {
 
  margin-top: 6rem ;
  padding: 14px;
  justify-content: center;
}
.front__info--card {
  padding: 1rem 3rem;
  border-radius: 5px;
  border: none;
  background: rgb(82, 14, 214);
  background: linear-gradient(
    45deg,
    rgba(82, 14, 214, 1) 0%,
    rgba(189, 57, 230, 1) 58%,
    rgba(250, 69, 250, 1) 100%
  );
  box-shadow: 0.2rem 0.2rem 1rem rgba(189, 57, 230, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.front__info--card__typo {
  display: flex;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin: 2rem 0;
  color: #fff;
}
.front__info--card__link {
  font-size: 2rem;
  color: #fff;
  transition: all 0.2s;
  font-weight: bold;
}
.front__info--card__link:hover {
  transform: translateY(-5px) scale(1.2);
}
.front__info--card__link:active {
  transform: scale(0.8);
}

.footer {
  background-color: black;
  margin-top: 10rem;
}
.footer__container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0 0.5rem 0;
}
.footer__container--title {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}
.footer__container--img-container {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.social-img {
  width: 2rem;
  transition: all 0.2s;
}
.social-img:hover {
  transform: scale(1.2);
}

@media only screen and (max-width:620px) {
  .front__header--images{
    display: flex;
    flex-direction: column;
    margin-top: -8.3rem;
    padding: 4px;
  }
  
}

@media only screen and (max-width: 650px)  {
  .front__about--container {
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 2rem;
    justify-content: center;
     
  }
  .front__about--container__right{
    margin-top: 2rem;
    margin-bottom: 2.3rem;
  }

}
@media only screen and (min-width:480px) and (max-width:720px)  and (-webkit-min-device-pixel-ratio: 2) {
  
  .front__info {
    display: flex;
    flex-direction: column;
    margin-top: 38rem ;
    padding: 14px;
    
  }
  
}
@media only screen and (min-width:180px) and (max-width:480px)  and (-webkit-min-device-pixel-ratio: 2) {
  
  .front__info {
    display: flex;
    flex-direction: column;
    margin-top: 50rem ;
    padding: 14px;
    
  }
  
}
@media only screen and (min-width:720px){
  
  .front__info {
    flex-direction: column;
    margin-top: 14rem 0rem ;
    padding: 2rem;
    
  }
  
}

@media only screen and (max-width: 720px)  {
.front__mint-token--typo {
  
  display: flex;
  margin-top:14rem;

  
}

}
